services:
  ubuntu:
    image: ubuntu:latest
    container_name: my_ubuntu
    command: sleep infinity

  mysql:
    image: mysql:8.0
    container_name: my_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3308:3306"

  php:
    build: .
    container_name: my_php
    volumes:
      - ./app:/var/www/html
    working_dir: /var/www/html
    command: sleep infinity
    depends_on:
      - mysql
    ports:
      - "8000:8000"

volumes:
  mysql_data:
